<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.epsi.com.bebeer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.beer.list.BeerListActivity"
            android:label="@string/title_activity_beer_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.beer.profile.BeerProfileActivity"
            android:label="@string/title_activity_beer_profile"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bebeer.herokuapp.com"
                    android:pathPrefix="/beers/"
                    android:scheme="https" />
                <data
                    android:host="bebeer.herokuapp.com"
                    android:pathPrefix="/beers/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.user.login.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.user.profile.UserProfileActivity"
            android:label="@string/title_activity_user_profile" />
        <activity
            android:name=".activities.brewery.list.BreweryListActivity"
            android:label="@string/title_activity_brewery_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.brewery.profile.BreweryProfilActivity"
            android:label="@string/title_activity_brewery_profil"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
